<!-- <mat-card-header>
    <mat-card-title>Share Your Experience With Others</mat-card-title>
</mat-card-header>
<br>
<mat-card-content>
    <p *ngIf="waiting">
        <span>Your review is being posted. This may take some time due to busy Ethereum network traffic.</span>
        <mat-progress-bar mode="indeterminate" *ngIf="waiting"></mat-progress-bar>
    </p>
    <form [formGroup]="form" (ngSubmit)="postReview()">
        <mat-form-field class="custom-width">
            <mat-label>Patient ID</mat-label>
            <input matInput type="text" formControlName="patientId">
        </mat-form-field>
        <br>
        Nurse Communication
        <mat-radio-group formControlName="nurseCommunication" aria-label="Nurse Communication">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Doctor Communication
        <mat-radio-group formControlName="doctorCommunication" aria-label="Doctor Communication">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Responsiveness of hospital staff
        <mat-radio-group formControlName="staffResponsiveness" aria-label="Responsiveness of hospital staff">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Communication about medicines
        <mat-radio-group formControlName="communicationAboutMedicines" aria-label="Communication about medicines">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Discharge information
        <mat-radio-group formControlName="dischargeInformation" aria-label="Discharge information">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Care transition
        <mat-radio-group formControlName="careTransition" aria-label="Care transition">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Cleanliness of hospital environment
        <mat-radio-group formControlName="cleanliness" aria-label="Cleanliness of hospital environment">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Quietness of hospital environment
        <mat-radio-group formControlName="quietness" aria-label="Quietness of hospital environment">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Overall Rating
        <mat-radio-group formControlName="overallRating" aria-label="Overall Rating">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        Willingness to recommend this hospital to other patients
        <mat-radio-group formControlName="willingnessToRecommend" aria-label="Willingness to recommend this hospital to other patients">
            <mat-radio-button value=1>1</mat-radio-button>
            <mat-radio-button value=2>2</mat-radio-button>
            <mat-radio-button value=3>3</mat-radio-button>
            <mat-radio-button value=4>4</mat-radio-button>
            <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field class="custom-width">
            <mat-label>Comment</mat-label>
            <textarea matInput name="comments" formControlName="comments" cols="30" rows="10"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Submit Review</button>

    </form>

</mat-card-content> -->
<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Share Your Experience With Others</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <p *ngIf="waiting">
                <span>Your review is being posted. This may take some time due to busy Ethereum network traffic.</span>
                <mat-progress-bar mode="indeterminate" *ngIf="waiting"></mat-progress-bar>
            </p>
            <form [formGroup]="form" (ngSubmit)="postReview()" class="form-container">
                <mat-form-field class="custom-width">
                    <mat-label>Patient ID</mat-label>
                    <input matInput type="text" formControlName="patientId">
                </mat-form-field>
                <br>
          <div class="form-row">
            <span class="label">Nurse Communication</span>
            <span class="options">
                <mat-radio-group formControlName="nurseCommunication" aria-label="Nurse Communication">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Doctor Communication</span>
            <span class="options">
                <mat-radio-group formControlName="doctorCommunication" aria-label="Doctor Communication">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Responsiveness of hospital staff</span>
            <span class="options">
                <mat-radio-group formControlName="staffResponsiveness" aria-label="Responsiveness of hospital staff">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Communication about medicines</span>
            <span class="options">
                <mat-radio-group formControlName="communicationAboutMedicines" aria-label="Communication about medicines">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Discharge information</span>
            <span class="options">
                    <mat-radio-group formControlName="dischargeInformation" aria-label="Discharge information">
                        <mat-radio-button value=1>1</mat-radio-button>
                        <mat-radio-button value=2>2</mat-radio-button>
                        <mat-radio-button value=3>3</mat-radio-button>
                        <mat-radio-button value=4>4</mat-radio-button>
                        <mat-radio-button value=5>5</mat-radio-button>
                    </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Care transition</span>
            <span class="options">
                <mat-radio-group formControlName="careTransition" aria-label="Care transition">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Cleanliness of hospital environment</span>
            <span class="options">
                <mat-radio-group formControlName="cleanliness" aria-label="Cleanliness of hospital environment">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Quietness of hospital environment</span>
            <span class="options">
                <mat-radio-group formControlName="quietness" aria-label="Quietness of hospital environment">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Overall Rating</span>
            <span class="options">
                <mat-radio-group formControlName="overallRating" aria-label="Overall Rating">
                    <mat-radio-button value=1>1</mat-radio-button>
                    <mat-radio-button value=2>2</mat-radio-button>
                    <mat-radio-button value=3>3</mat-radio-button>
                    <mat-radio-button value=4>4</mat-radio-button>
                    <mat-radio-button value=5>5</mat-radio-button>
                </mat-radio-group>
            </span>
          </div>
          <div class="form-row">
            <span class="label">Willingness to recommend this hospital to other patients</span>
            <span class="options">
                    <mat-radio-group formControlName="willingnessToRecommend" aria-label="Willingness to recommend this hospital to other patients">
                        <mat-radio-button value=1>1</mat-radio-button>
                        <mat-radio-button value=2>2</mat-radio-button>
                        <mat-radio-button value=3>3</mat-radio-button>
                        <mat-radio-button value=4>4</mat-radio-button>
                        <mat-radio-button value=5>5</mat-radio-button>
                    </mat-radio-group>
            </span>
          </div>
                    <br>
                    <mat-form-field class="custom-width">
                        <mat-label>Comment</mat-label>
                        <textarea matInput name="comments" formControlName="comments" cols="30" rows="10"></textarea>
                    </mat-form-field>
                    <br>
        
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Submit Review</button>
            </form>
        
        </mat-card-content>
    
    </mat-card>
    
</div>


