<div>
    <mat-card *ngIf="hospital; else showHospitalSg">
        <mat-card-header>
            <mat-card-title>
                <span>{{hospital.facilityName}}</span>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <span>Rating: {{hospital.hospitalOverallRating}}/5</span>
            </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <span>{{hospital.address}},{{hospital.city}},{{hospital.state}},{{hospital.zipCode}},{{hospital.countyName}}</span>
            <br>
            <span>{{hospital.phoneNumber}}</span>
            <br>
            <span>Emergency service available: {{hospital.emergencyServices}}</span>
            <br>
            <span>Hospital Ownership: {{hospital.hospitalOwnership}}</span>
            <br>
            <span>Hospital Type: {{hospital.hospitalType}}</span>
            <br>
        </mat-card-content>
    </mat-card>

    <br>
    <div *ngIf="userRole == 'user'">
        <span *ngIf="totalReview > 0">
            <button type="button" (click)="showReview()">
                Reviews ({{totalReview}})
            </button>
        </span>
        <span *ngIf="totalReview == 0">No Review Yet</span>
        <span><button type="button" (click)="goToReview()">Add A Review</button></span>
        <span *ngIf="statIndex>=0"><button type="button" (click)="goToStatistic()">Statistic</button></span>
    </div>

    <div *ngIf="userRole == 'hospital'">
        <p  *ngIf="currentUpdateFrequency">
            <span *ngIf="currentUpdateFrequency!='0' && currentPenalty!='0'">
                Statistic update frequency: {{currentUpdateFrequency}} (days)
                <br>
                Penalty for late update: {{currentPenalty}} (Gwei)
            </span>
            <span *ngIf="currentUpdateFrequency=='0' && currentPenalty=='0'">
                Update frequency and penalty has not been set
            </span>
        </p>
        <br>
        <span *ngIf="totalReview > 0">
                Reviews ({{totalReview}})
        </span>
        <span *ngIf="totalReview == 0">No Review Yet</span>
    </div>

    <div *ngIf="userRole == 'moh' && countryCode=='sg'">

        <p  *ngIf="currentUpdateFrequency">
            <span *ngIf="currentUpdateFrequency!='0' && currentPenalty!='0'">
                Statistic update frequency: {{currentUpdateFrequency}} (days)
                <br>
                Penalty for late update: {{currentPenalty}} (Gwei)
            </span>
            <span *ngIf="currentUpdateFrequency=='0' && currentPenalty=='0'">
                Update frequency and penalty has not been set
            </span>
        </p>

        <span *ngIf="!hospitalSg.registered">
            <button type="button" (click)="verifyCredentials()">Verify Hospital Credentials</button>
        </span>
        <br>
        <span *ngIf="!hospitalSg.jciAccredited">
            <button type="button" (click)="verifyJci()">Verify JCI Accreditation</button>
        </span>
        <span>
            <button type="button" (click)="setFrequencyAndPenalty()">Set statistic update frequency and penalty</button>
        </span>
        <br>
    </div>

    <br>
    <hr>

    <router-outlet></router-outlet>

    <ng-template #showHospitalSg>
        <mat-card *ngIf="hospitalSg">
            <mat-card-title>
                <span>{{hospitalSg.facilityName}}</span> &nbsp; &nbsp; <span>Rating: {{hospitalSg.hospitalOverallRating | number:'1.1-1'}}/5</span>
            </mat-card-title>
            <mat-card-content>
                <span>{{hospitalSg.address}}, {{hospitalSg.streetName}}, {{hospitalSg.zipCode}}</span>
                <br>
                <span>{{hospitalSg.phoneNumber}}</span>
                <br>
                <span>License: {{hospitalSg.license}}</span>
                <br>
                <span>Registered: 
                    <span *ngIf="hospitalSg.registered">Yes</span>
                    <span *ngIf="!hospitalSg.registered">No</span>
                </span>
                <br>
                <span>JCI Accredited: 
                    <span *ngIf="hospitalSg.jciAccredited">Yes</span>
                    <span *ngIf="!hospitalSg.jciAccredited">No</span>
                </span>
                <br>
                <span>Emergency service available: {{hospitalSg.emergencyServices}}</span>
                <br>
                <span>Hospital Ownership: {{hospitalSg.hospitalOwnership}}</span>
                <br>
            </mat-card-content>
        </mat-card>
    </ng-template>
    
</div>



<!-- <div>
    <a [routerLink]="['/searchHospital']" *ngIf="userRole == 'user'">Back to Search</a>
    <a [routerLink]="['/home/moh',countryCode]" *ngIf="userRole == 'moh'">Back to Home</a>
    <a [routerLink]="['/home/hospital']" *ngIf="userRole == 'hospital'">Back to Home</a>

    <mat-card *ngIf="hospital; else showHospitalSg">
        <mat-card-title>
            <span>{{hospital.facilityName}}</span> &nbsp; &nbsp; <span>Rating: {{hospital.hospitalOverallRating}}/5</span>
        </mat-card-title>
        <mat-card-content>
            <span>{{hospital.address}},{{hospital.city}},{{hospital.state}},{{hospital.zipCode}},{{hospital.countyName}}</span>
            <br>
            <span>{{hospital.phoneNumber}}</span>
            <br>
            <span>Emergency service available: {{hospital.emergencyServices}}</span>
            <br>
            <span>Hospital Ownership: {{hospital.hospitalOwnership}}</span>
            <br>
            <span>Hospital Type: {{hospital.hospitalType}}</span>
            <br>
        </mat-card-content>
    </mat-card>

    <br>
    <div *ngIf="userRole == 'user'">
        <span *ngIf="totalReview > 0">
            <button type="button" (click)="showReview()">
                Reviews ({{totalReview}})
            </button>
        </span>
        <span *ngIf="totalReview == 0">No Review Yet</span>
        <span><button type="button" (click)="goToReview()">Add A Review</button></span>
        <span *ngIf="statIndex>=0"><button type="button" (click)="goToStatistic()">Statistic</button></span>
    </div>

    <div *ngIf="userRole == 'hospital'">
        <p  *ngIf="currentUpdateFrequency">
            <span *ngIf="currentUpdateFrequency!='0' && currentPenalty!='0'">
                Statistic update frequency: {{currentUpdateFrequency}} (days)
                <br>
                Penalty for late update: {{currentPenalty}} (Gwei)
            </span>
            <span *ngIf="currentUpdateFrequency=='0' && currentPenalty=='0'">
                Update frequency and penalty has not been set
            </span>
        </p>
        <br>
        <span *ngIf="totalReview > 0">
                Reviews ({{totalReview}})
        </span>
        <span *ngIf="totalReview == 0">No Review Yet</span>
    </div>

    <div *ngIf="userRole == 'moh' && countryCode=='sg'">

        <p  *ngIf="currentUpdateFrequency">
            <span *ngIf="currentUpdateFrequency!='0' && currentPenalty!='0'">
                Statistic update frequency: {{currentUpdateFrequency}} (days)
                <br>
                Penalty for late update: {{currentPenalty}} (Gwei)
            </span>
            <span *ngIf="currentUpdateFrequency=='0' && currentPenalty=='0'">
                Update frequency and penalty has not been set
            </span>
        </p>

        <span *ngIf="!hospitalSg.registered">
            <button type="button" (click)="verifyCredentials()">Verify Hospital Credentials</button>
        </span>
        <br>
        <span *ngIf="!hospitalSg.jciAccredited">
            <button type="button" (click)="verifyJci()">Verify JCI Accreditation</button>
        </span>
        <span>
            <button type="button" (click)="setFrequencyAndPenalty()">Set statistic update frequency and penalty</button>
        </span>
        <br>
    </div>

    <br>
    <hr>

    <router-outlet></router-outlet>

    <ng-template #showHospitalSg>
        <mat-card *ngIf="hospitalSg">
            <mat-card-title>
                <span>{{hospitalSg.facilityName}}</span> &nbsp; &nbsp; <span>Rating: {{hospitalSg.hospitalOverallRating}}/5</span>
            </mat-card-title>
            <mat-card-content>
                <span>{{hospitalSg.address}}, {{hospitalSg.streetName}}, {{hospitalSg.zipCode}}</span>
                <br>
                <span>{{hospitalSg.phoneNumber}}</span>
                <br>
                <span>License: {{hospitalSg.license}}</span>
                <br>
                <span>Registered: 
                    <span *ngIf="hospitalSg.registered">Yes</span>
                    <span *ngIf="!hospitalSg.registered">No</span>
                </span>
                <br>
                <span>JCI Accredited: 
                    <span *ngIf="hospitalSg.jciAccredited">Yes</span>
                    <span *ngIf="!hospitalSg.jciAccredited">No</span>
                </span>
                <br>
                <span>Emergency service available: {{hospitalSg.emergencyServices}}</span>
                <br>
                <span>Hospital Ownership: {{hospitalSg.hospitalOwnership}}</span>
                <br>
            </mat-card-content>
        </mat-card>
    </ng-template>
    
</div> -->
