/* .child {
    box-sizing: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;

  }

  .left-element {
    order: 1;
    text-align: left;
  }
  
  .right-element {
    order: 2;
    text-align: center;
  }

  .hospital-card{
    display: flex;
    width: 100%;
    margin-top: 1%;
 } */
 
 .parent {
    display: flex;
    /* background-color: lightgray; */
    padding: 10px;
  }
  
  .child {
    flex: 1 1 auto;
    padding: 5px;
    /* border: 1px solid gray; */
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }

  .right-center {
    text-align: center;
    /* display: flex; 
    align-items: center; 
    justify-content: center; */
  }

  .title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #333;
  }

  .subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: #666;
  }

  .content{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #666;
  }

  .rating{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 2em;
    color: #333;
  }