<h2>Ministry of Health Singapore</h2>

<!-- Hospitals registered, pending verification & set update freq, penalty -->
<!-- select * from sg_hospitals where verified = false; -->
<div>
    <h3 *ngIf="hospitalsPendingVerify">
        <span *ngIf="hospitalsPendingVerify.length > 0">New registered hospitals pending verification ({{hospitalsPendingVerify.length}})</span>
        <span *ngIf="hospitalsPendingVerify.length == 0">No new registered hospitals pending verification</span>
    </h3>
    <table>
        <tr *ngFor="let h of hospitalsPendingVerify">
            <a [routerLink]="['/hospital/sg',h.facilityId]">{{h.facilityName}}</a>
        </tr>
    </table>
</div>

<!-- Hospitals submitted updated statistic, pending verification -->
<div>
    <h3 *ngIf="hospitalsPendingStatVerify">
        <span *ngIf="hospitalsPendingStatVerify.length > 0">Hospitals with statistic pending verification ({{hospitalsPendingStatVerify.length}})</span>
        <span *ngIf="hospitalsPendingStatVerify.length == 0">No hospitals with pending statistic verification</span>
    </h3>
    <table>
        <tr *ngFor="let h of hospitalsPendingStatVerify">
            <a [routerLink]="['/hospital/sg',h.facilityId]">{{h.facilityName}}</a>
        </tr>
    </table>
</div>

<!-- List of All Hospital Registered in Singapore -->
<!-- select * from sg_hospitals; -->
<div>
    <h3 *ngIf="allHospitalSg">
        <span *ngIf="allHospitalSg.length > 0">Total Hospital in Singapore: {{allHospitalSg.length}}</span>
        <span *ngIf="allHospitalSg.length == 0">No Hospital</span>
    </h3>
    <table>
        <tr *ngFor="let h of allHospitalSg">
            <a [routerLink]="['/hospital/sg',h.facilityId]">{{h.facilityName}}</a>
        </tr>
    </table>
</div>