
<div *ngIf="reviews.length > 0">

    <div class="parent">
        <div class="child left">
            <span class="subtitle">Patient Reviews</span>
            <span class="content">
                <br>
                {{reviewSummary.countOfRatingFive}} patients rated 5 star
                <br>
                {{reviewSummary.countOfRatingFour}} patients rated 4 star
                <br>
                {{reviewSummary.countOfRatingThree}} patients rated 3 star
                <br>
                {{reviewSummary.countOfRatingTwo}} patients rated 2 star
                <br>
                {{reviewSummary.countOfRatingOne}} patients rated 1 star
            </span>
        </div>

        <div class="child right-center">
            <br>
            <p class="content">Average Overall Rating:</p>
            <p class="rating">{{reviewSummary.avgOverallRating  | number:'1.1-1'}} / 5</p>
            <p class="content">Based on {{totalReview}} patient reviews</p>
        </div>
    </div>

    <div class="parent">
        <div class="child left">
            <p class="subtitle-two">Aspect</p>
            <p class="content">
                Nurse Communication
                <br>
                Doctor Communication
                <br>
                Staff Responsiveness
                <br>
                Communication About Medicines
                <br>
                Discharge Information
                <br>
                Care Transition
                <br>
                Cleanliness of Hospital Environment
                <br>
                Quietness of Hospital Environment
                <br>
                Willingness To Recommend
            </p>
        </div>
        <div class="child right-center">
            <p class="subtitle-two">Average Rating</p>
            <p class="content">
                {{reviewSummary.avgNurseComm | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgDoctorComm | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgStaffResponsiveness | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgCommAbtMed | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgDischargeInfo | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgCareTransition | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgCleanliness | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgQuietness | number:'1.1-1'}} / 5
                <br>
                {{reviewSummary.avgRecommendation | number:'1.1-1'}} / 5
            </p>
        </div>
    </div>

    <mat-card class="parent" *ngFor="let r of reviews">                                                               
        <mat-card class="child">
            <span class="subtitle-two">
                Overall Rating: {{r.overallRating}} / 5
                <br>
                <span *ngFor="let i of range(r.overallRating)"><mat-icon color="warn">star</mat-icon></span>
                <span *ngFor="let i of range(5-r.overallRating)"><mat-icon color="warn">star_border</mat-icon></span>
                <br>
            </span>
            <span>
                <mat-card-subtitle>
                    Review ID: {{r.id}}
                </mat-card-subtitle>
            </span>
            <br>
            <span class="content-comment" *ngIf="r.comments">
                    "{{r.comments}}"
            </span>

            <mat-card-actions align="end"><mat-card-subtitle>Review date: {{r.reviewDate}}</mat-card-subtitle></mat-card-actions>
        </mat-card>
    </mat-card >

</div>

