

  .parent {
    display: flex;
    padding: 10px;
  }
  
  .child {
    flex: 1 1 auto;
    padding: 5px;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }

  .right-center {
    text-align: center;
    align-items: center; 
    justify-content: center;
  }

  .title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #333;
  }

  .subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #333;
  }

  .subtitle-two{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
  }

  .content{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #666;
  }

  .rating{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 3em;
    color: #666;
  }

  .content-comment{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size: 1.3em;
    color: #666;
  }