<div>
    <mat-card-header>
        <mat-card-title>Find A Hospital</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="countryCodeForm">
            <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select formControlName="countryCode" (ngModelChange)="onCountryCodeChange()">
                    <mat-option *ngFor="let moh of mohList" value="{{moh.countryCode}}">{{moh.countryName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        
        <form [formGroup]="form" (ngSubmit)="searchSgHospitals()" *ngIf="showSgForm">
            <mat-form-field>
                <mat-select formControlName="hospitalOwnership">
                    <mat-option value="">--All--</mat-option>
                    <mat-option value="public">Public</mat-option>
                    <mat-option value="private">Private</mat-option>
                    <mat-option value="nonProfit">Not-For-Profit</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput type="text" formControlName="hospitalName" placeholder="Enter Hospital Name">
            </mat-form-field>
            &nbsp;
            <button mat-flat-button color="primary" type="submit">
                <span>Search</span>
                &nbsp;
                <span><mat-icon>search</mat-icon></span>
            </button>
            &nbsp;
            <button mat-flat-button color="primary" type="button" (click)="sort()" *ngIf="!disableSort">
                Sort by Rating 
                <span *ngIf="descending"><mat-icon>keyboard_arrow_down</mat-icon></span>
                <span *ngIf="!descending"><mat-icon>keyboard_arrow_up</mat-icon></span>
            </button>
            <button mat-flat-button type="button" (click)="sort()" *ngIf="disableSort">
                <span >Sort By Rating</span>
            </button>

        </form>
    
        <form [formGroup]="form" (ngSubmit)="searchUsHospitals()" *ngIf="showUsForm">
            <mat-form-field>
                <mat-select formControlName="state" (ngModelChange)="onStateChange()" >
                    <mat-option value="">--All States--</mat-option>
                    <mat-option *ngFor="let state of states" value="{{state}}">{{state}}</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field [hidden]="!form.value['state']">
                <mat-select formControlName="city">
                    <mat-option value="">--All Cities--</mat-option>
                    <mat-option *ngFor="let city of cities" value="{{city}}">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput type="text" formControlName="hospitalName" placeholder="Enter Hospital Name">
            </mat-form-field>
            &nbsp;
            <button mat-flat-button color="primary" type="submit">
                <span>Search</span>
                &nbsp;
                <span><mat-icon>search</mat-icon></span>
            </button>
            &nbsp;
            <button mat-flat-button color="primary" type="button" (click)="sort()" *ngIf="!disableSort">
                Sort by Rating 
                <span *ngIf="descending"><mat-icon>keyboard_arrow_down</mat-icon></span>
                <span *ngIf="!descending"><mat-icon>keyboard_arrow_up</mat-icon></span>
            </button>
            <button mat-flat-button type="button" (click)="sort()" *ngIf="disableSort">
                <span >Sort By Rating</span>
            </button>
        </form>
    </mat-card-content>
</div>
<hr>
<div>
    <!-- List of US Hospitals based on Search Result -->
    <div *ngIf="hospitals">
        <mat-card-header>
            <mat-card-title>Search Results</mat-card-title>
            <mat-card-subtitle>
                <span>Total {{count}} results</span>
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="count > 0">
                <p>page {{offset + 1}} of {{totalPage}}
                    <span *ngIf="offset>0"><button mat-stroked-button type="button" (click)="loadPreviousPage()">previous page</button></span>
                    <span *ngIf="(offset + 1) < (count/20)"><button mat-stroked-button type="button" (click)="loadNextPage()">next page</button></span>
                </p>
            </mat-card-subtitle>
        </mat-card-header>

        <div *ngIf="hospitals.length > 0">
                <div *ngFor="let h of hospitals">                                                               
                    <mat-card class="hospital-card" [routerLink]="['/hospital/us', h.facilityId]">
                        <mat-card-title class="child">
                            <span class="left-element">{{h.facilityName}}</span> 
                            <span class="right-element" *ngIf="h.hospitalOverallRating != 'Not Available'">Rating: {{h.hospitalOverallRating | number:'1.1-1'}}/5</span>
                            <span class="right-element" *ngIf="h.hospitalOverallRating == 'Not Available'">Rating {{h.hospitalOverallRating }}</span>
                        </mat-card-title>
                        
                        <mat-card-content>
                            <span>{{h.address}},{{h.city}},{{h.state}},{{h.zipCode}},{{h.countyName}}</span>
                            <br>
                            <span>{{h.phoneNumber}}</span>
                        </mat-card-content>
                    </mat-card>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- List of Sg Hospitals based on Search Result -->
  
    <div *ngIf="hospitalSgList">
        <mat-card-header>
            <mat-card-title>Search Results</mat-card-title>
            <mat-card-subtitle>
                <span>Total {{count}} results</span>
            </mat-card-subtitle>

            <mat-card-subtitle *ngIf="count > 0">
                <p>page {{offset + 1}} of {{totalPage}}
                    <span *ngIf="offset>0"><button mat-stroked-button type="button" (click)="loadPreviousPage()">previous page</button></span>
                    <span *ngIf="(offset + 1) < (count/20)"><button mat-stroked-button type="button" (click)="loadNextPage()">next page</button></span>
                </p>
            </mat-card-subtitle>
        </mat-card-header>
    
        <div *ngIf="hospitalSgList.length > 0">
            <div *ngFor="let h of hospitalSgList">  
                <mat-card class="hospital-card" [routerLink]="['/hospital/sg', h.facilityId]">
                    <mat-card-title class="child">
                        <span class="left-element">{{h.facilityName}}</span> 
                        <span class="right-element" *ngIf="h.hospitalOverallRating != 'Not Available'">Rating: {{h.hospitalOverallRating | number:'1.1-1'}}/5</span>
                        <span class="right-element" *ngIf="h.hospitalOverallRating == 'Not Available'">Rating {{h.hospitalOverallRating }}</span>
                    </mat-card-title>
                    
                    <mat-card-content>
                        <span>{{h.address}},{{h.streetName}},{{h.zipCode}}</span>
                        <br>
                        <span>{{h.phoneNumber}}</span>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

