<div>
    <!-- 
    search by location
    search by name
    search by specialist -->
    <h2>Find A Hospital</h2>
    <form [formGroup]="form" (ngSubmit)="searchHospitals()">

            Location: 
            <select formControlName="state" (ngModelChange)="onChange()" >
                <option value="">--All States--</option>
                <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
            </select>
            <select formControlName="city" [hidden]="!form.value['state']">
                <option value="">--All Cities--</option>
                <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
            </select>
        
            <input type="text" formControlName="hospitalName" placeholder="Enter Hospital Name">

        <button mat-raised-button color="primary" type="submit">Search</button>
        <button type="button" (click)="sort()" [disabled]="disableSort">
            Sort by Rating <span *ngIf="descending">v</span>&nbsp;
            <button type="button" (click)="undoSort()"><span *ngIf="disableSort">o</span><span *ngIf="!disableSort">x</span></button>
        </button>
    </form>
</div>
<hr>

<!-- List of Hospitals based on Search Result -->
<div *ngIf="hospitals">
    <h3>Search Results:</h3>
    <table>
       
        <tr *ngFor="let h of hospitals">
            <a [routerLink]="['/hospital',h.facilityId]" >
                <mat-card>
                    <mat-card-title>
                        <span>{{h.facilityName}}</span> &nbsp; &nbsp; <span>Rating: {{h.hospitalOverallRating}}/5</span>
                    </mat-card-title>
                    <mat-card-content>
                        <span>{{h.address}},{{h.city}},{{h.state}},{{h.zipCode}},{{h.countyName}}</span>
                        <br>
                        <span>{{h.phoneNumber}}</span>
                    </mat-card-content>
                </mat-card>
            </a>
        </tr>
    </table>
</div>

