
<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>SIGN UP AS MOH</mat-card-title>
            <mat-card-subtitle>
                Please connect to metamask with the account to be registered
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <form [formGroup]="form" (ngSubmit)="register()">
                <mat-form-field class="form-width">
                    <mat-label>Ethereum Account Private Key</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="privateKey">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="form.get('privateKey')?.invalid && form.get('privateKey')?.dirty">
                        Please enter a valid private key associated with the connected account
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="form-width">
                    <mat-label>Set a Password</mat-label>
                    <input matInput [type]="hidepassword ? 'password' : 'text'" formControlName="accountPassword">
                    <button mat-icon-button matSuffix (click)="hidepassword = !hidepassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepassword">
                        <mat-icon>{{hidepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="form.get('accountPassword')?.invalid">
                        Password must be at least 8 characters, contains at least 1 digit, 1 uppercase letter and 1 lowercase letter
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="form-width">
                    <mat-label>Country Code</mat-label>
                    <input matInput type="text" formControlName="countryCode">
                    <mat-error *ngIf="form.get('countryCode')?.invalid">
                        Country code is mandatory
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="form-width">
                    <mat-label>Country Name</mat-label>
                    <input matInput type="text" formControlName="countryName">
                    <mat-error *ngIf="form.get('countryName')?.invalid">
                        License number is mandatory
                    </mat-error>
                </mat-form-field>
                
                <br>
                <br>
                <p class="button-position">
                    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Register</button>
                </p>
            </form>

            <a [routerLink]="['/']">Back to Sign-In Page</a>
        </mat-card-content>
    </mat-card>
</div>

