<mat-card>
    <mat-card-header>
        <mat-card-title>Update Hospital Statistic</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <p *ngIf="waiting">
            <span>
                Update in progress. This may take some time due to busy Ethereum network traffic.
                <br>
                Please try again another time if update failed after waiting for 10 minutes.
            </span>
            <mat-progress-bar mode="indeterminate" *ngIf="waiting"></mat-progress-bar>
        </p>
        <form [formGroup]="form" (ngSubmit)="updateStatistic()">
            <mat-form-field class="custom-width">
                <mat-label>Mortality rate</mat-label>
                <input matInput type="number" formControlName="mortality">
            </mat-form-field>
            <br>
            <mat-form-field class="custom-width">
                <mat-label>Patient safety</mat-label>
                <input matInput type="number" formControlName="patientSafety">
            </mat-form-field>
            <br>
            <mat-form-field class="custom-width">
                <mat-label>Patient readmission rate</mat-label>
                <input matInput type="number" formControlName="readmission">
            </mat-form-field>
            <br>
            <mat-form-field class="custom-width">
                <mat-label>Patient experience</mat-label>
                <input matInput type="number" formControlName="patientExperience">
            </mat-form-field>
            <br>
            <mat-form-field class="custom-width">
                <mat-label>Effectiveness of care</mat-label>
                <input matInput type="number" formControlName="effectiveness">
            </mat-form-field>
            <br>
            <mat-form-field class="custom-width">
                <mat-label>Timeliness of care</mat-label>
                <input matInput type="number" formControlName="timeliness">
            </mat-form-field>
            <br>
            <mat-form-field class="custom-width">
                <mat-label>Efficient use of medical imaging</mat-label>
                <input matInput type="number" formControlName="medicalImagingEfficiency">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="accent" [disabled]="form.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>