.parent {
    display: flex;
    padding: 10px;
    margin-top: 1%;
  }

  .stat-list:hover{
      background-color: lightgray;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
   
  
  
  .child {
    flex: 1 1 auto;
    padding: 5px;
  }
  
  .content{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #666;
  }

  .content-red{
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    font-size: 1em;
    color: #E53935;
  }

  .content-green{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color:  #4CAF50;
  }
