<h2>Update Hospital Statistic</h2>
<br>
<form [formGroup]="form" (ngSubmit)="updateStatistic()">
    Mortality rate: <input type="number" formControlName="mortality">
    <br>
    Patient safety: <input type="number" formControlName="patientSafety">
    <br>
    Patient readmission rate: <input type="number" formControlName="readmission">
    <br>
    Patient experience: <input type="number" formControlName="patientExperience">
    <br>
    Effectiveness of care: <input type="number" formControlName="effectiveness">
    <br>
    Timeliness of care: <input type="number" formControlName="timeliness">
    <br>
    Efficient use of medical imaging: <input type="number" formControlName="medicalImagingEfficiency">
    <br>
    <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
