<ng-template #noStatistic> 
    <div class="parent">
        <span class="content">This hospital has not posted any statistic</span>
    </div>

</ng-template>

<div *ngIf="statistics">
    <div *ngIf="statistics.length > 0; else noStatistic">
        <div *ngFor="let s of statistics.reverse(); let i = index">

            <mat-card class="parent" [routerLink]="['/statistic',facilityId,statistics.length-i-1]">
                <span class="content">
                    Statistic ({{statistics.length-i}})
                    &nbsp;&nbsp;
                    {{timestampToDate(s.timestamp) | date: 'long'}} 
                    &nbsp;&nbsp;
                    <span class="content-green" *ngIf="s.verified">Verified</span>
                    <span class="content-red" *ngIf="!s.verified">Pending Verification</span>
                </span>               
            </mat-card>
        </div>
        
    </div>
</div>